
body {
	font-family: 'Muli',sans-serif;
	list-style: none;
	background: #fff;
	overflow: auto !important;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

h1, h2, h3, h4 {
	font-weight: 700;
	overflow: hidden;
	display: block;
	width: 100%;
	clear: both;
	font-family: 'Muli', Sans-serif;
}

strong,b {
	font-weight: 600;
}

a,i,address {
	text-decoration: none;
}

a:active, a:focus, a {
	color: #FFAE02;
	outline: none;
}

a:hover {
	opacity: 0.7;
	transition: .4s;
}
textarea:focus, input:focus{
	outline: none;
	color: #fff;
}

iframe {
	border: 0;
}

.container-fluid{
	padding: 0px
}
.body {
	height: 100%;
	margin-left: 0px;
}

/* 2. HEADER */

header {
	background: #fff !important;
	position: relative;
	z-index: 999;
	right: 0;
	left: 0;
	transition: .4s;
	top:0;
	height: 84px;
	margin-bottom: 20px;
}

.two-nav-header{
	background: transparent !important;
	position: absolute !important;
	z-index: 999;
	right: 0;
	left: 0;
	transition: .4s;
	top:0;
	height: 84px;
	margin-bottom: 20px;
	box-shadow: none;
}

.navbar .btn i {
	color: #454545;
}

.navbar .btn:hover i {
	color: #ccc;
}

.navbar .btn {
	width: 40px;
	height: 40px;
	border-bottom: 1px solid #2E363A;
	position: relative;
	left: 0;
	border-radius: 0;
	box-shadow: none;
	padding: 8px 1px;
	margin: 0 -1px;
}

.light.navbar .btn {
	border-bottom: 1px solid #ededed;
}

.navbar .menubar {
	height: 100%;
}

.navbar .menubar i {
	bottom: 0;
	border: 0;
}

.menu-item.search-btn i {
	font-size: 15px;
}

#navigation.dark,.navbar-brand.dark {
	background: #222;
	border: 1px solid #333;
}

#navigation.dark .navbar-toggle {
	color: #FFF;
}

#navigation.light,.navbar-brand.light {
	background: #f7f7f7;
	border: 1px solid #ededed;
}

.navbar-default .navbar-brand img {
	display: inline;
	vertical-align: middle;
}

.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	line-height: 60px;
}

.navbar-inner {
	box-shadow: 0 !important;
	position: relative;
	height: 100%;
}

.navbar-header {
	min-height: 60px;
}

.navbar-collapse {
	min-height: 60px !important;
	box-shadow: none;
}

.navbar-collapse.in {
	overflow-y: visible !important;
}

.navbar-inner .container {
	padding: 20px 0;
}

.navbar {
	border: 0;
	margin: 0;
	height: 100%;
	width: 40px;
}

.navbar .navbar-nav {
	padding: 0;
}

.navbar .navbar-nav li {
	position: relative;
}

.navbar .navbar-nav li:hover > ul {
	display: block !important;
}

.navbar .navbar-nav ul {
	display: none;
	position: absolute;
	z-index: 9999;
	padding: 0;
	list-style: none;
	right: 0;
	margin: 0;
	font-size: 14px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}

.navbar .navbar-nav > li {
	display: block;
	float: left;
}

.navbar .navbar-nav > li > a {
	display: block;
	font-size: 12px;
	font-weight: 600;
	height: 60px;
	text-shadow: none;
	text-transform: uppercase;
	padding: 0 15px;
	line-height: 60px;
}

.navbar .navbar-nav .current-menu-item a:after {
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-o-transform: scale(1,1);
	transform: scale(1,1);
}

.navbar .navbar-nav a:after {
	content: "";
	background-color: #f97352;
	color: #fff;
	display: block;
	width: 100%;
	height: 2px;
	margin-top: -20px;
	-webkit-transform: scale(0,1);
	-moz-transform: scale(0,1);
	-o-transform: scale(0,1);
	transform: scale(0,1);
	transform-origin: left center;
	-webkit-transform-origin: left center;
	-webkit-transition: all .15s ease-out;
	-moz-transition: all .15s ease-out;
	-ms-transition: all .15s ease-out;
	-o-transition: all .15s ease-out;
	transition: all .15s ease-out;
}

.navbar .search-btn a:after {
	display: none;
}

.navbar .navbar-nav > li > a:focus,.navbar .navbar-nav > li > a:hover {
	height: 60px;
	text-decoration: none;
}

.navbar .navbar-nav .sub-menu li a {
	width: 170px;
	display: block;
	padding: 6px 11px;
	font-size: 12px;
	text-transform: uppercase;
}

.navbar .navbar-nav .sub-menu .sub-menu {
	right: 170px;
	top: 0;
}

.navbar .navbar-nav .sub-menu {
	border-width: 0;
}

.navbar .navbar-nav .sub-menu > li > a:hover,.sub-menu > li > a:focus {
	background: none;
}

.navbar-default .navbar-toggle {
	padding: 0;
	margin: 15px 15px 0 0;
	border: 0;
	background: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
	background: none;
	border: 0;
	outline: none;
}

.fixeded{
	position: fixed;
	width: 100%;
	left: 0;
	background: #fff !important;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.fixed-nav .sp-body {
	margin-left: 270px;
}

.fixed-nav .body {
	margin-left: 0;
}

.fixed-nav .container {
	width: 100%;
	padding: 0 30px;
}

.logo {
	padding-top: 22px;
	padding-left: 0;
}

.logo-alt {
	position: absolute;
	bottom: 10px;
}

.logo-box {
	text-align: center;
}

.logo a img {
	max-width: 100%;
}

.topbar {
	padding: 18px 20px;
	display: table;
}

.topbar span {
	display: inline-block;
	margin-left: 30px;
}

.sf-menu > li {
	background: transparent;
	transition: #000 0.2s ease 0s;
}

.no-padding {
	padding: 0px;
}

#mobnav-btn {
	display: none;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 3px;
	background: transparent;
	color: #000;
	padding: 16px 15px;
	cursor: pointer;
	display: block;
	width: 100%;
}

#mobnav-btn i {
	float: right;
	position: relative;
	top: 2px;
}

.mobnav-subarrow {
	display: none;
}

.sf-menu ,
.sf-menu li.sf-mmenu {
	position: static !important;
}

.sf-mega {
	width: 100%;
	padding: 25px 0;
	background: #1f1f1f;
}

.sf-menu .sf-mega {
	margin-top: 68px;
}

.sf-mega-section {
	float: left;
	margin-right: 0px;
	border-right: 1px solid #333;
	width: 25%;
	padding: 0 55px;
}

.sf-mega-section:last-child {
	border-right: none;
}

.menu-wrap {
	display: table;
	float: right;
	position: static;
}

.header2 .menu-wrap {
	border-top: none;
}

.sf-menu ul {
	box-shadow: none;
	background: #222;
}

.sf-menu ul li {
	background: transparent !important;
	border: none;
	border-bottom: 1px solid #272727;
}

.sf-menu ul li a {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: 25px;
	font-size: 14px;

	color: #000000;
}
.active{
	color: #FFAE02 !important;
}

.sf-menu ul li:last-child {
	border: none;
}

.sf-menu ul li:hover {
}

.sf-menu ul li a:hover {
	color: #FF00A4;
}

.sf-mega-section span a {
	border: none;
	color: #fff;
	padding: 7px 0px;
	display: block;
	font-size: 12px;
}

.sf-mega-section span a:hover {
	color: #000;
}

.sf-mega-section h2 {
	font-size: 17px;
	margin: 0 0 15px;
	color: #000;
	font-weight: 400;
}

.sf-menu > li {
	background: transparent !important;
	font-family: Montserrat;
	margin-top: 20px;
}

.sf-menu > li:first-child:after {
	display: none;
}

.sf-menu > li > a {
	border-left: medium none;
	border-top: medium none;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: 25px;
	font-size: 14px;
	color: #000000;
	background: transparent !important;
}

.sf-menu > li > a:hover {
	color: #FFAE02 !important;
}

.sf-menu > li:hover {
	background: transparent !important;
}

.sf-arrows .sf-with-ul {
	padding-right: 0;
}

.sf-menu {
	float: none;
	width: auto;
	display: table;
	margin: 0;
	float: left;
}

.sf-arrows .sf-with-ul::after {
	content: "";
	position: relative;
	top: 3px;
	right: -8px;
	margin-top: 0px;
	height: 0px;
	width: 0px;
	color: #000;
	display: none;
}

#mobnav-btn {
	display: none !important;
}

.tp-social {
	margin-top: 10px;
}

.tp-social a {
	width: 30px;
	height: 30px;
	background: transparent;
	line-height: 30px;
	color: #fff;
	text-align: center;
	font-size: 14px;
}

.tp-social a:hover {
	color: #FF00A4;
	border-color: #FF00A4;
}


#intro {

	background-size: cover;
	padding: 168px 0 0 0;
	height: 568px;
	position: relative;
	background: url(../images/bg.png);
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
}

#intro h4 {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 22px;
	letter-spacing: 0.26em;
	color: #6FCF97;
	margin-bottom: 0;
}

#intro h1 {
	width: 423px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	line-height: 51px;
	font-size: 48px;
	margin-bottom: 21px;
	color: #273C57;
}

#intro p {
	width: 334px;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	line-height: normal;
	font-size: 18px;
	color: #8E8E90;
	margin-bottom: 18px;
}

.btn-primary{
	width: 174px;
	padding: 17px 27px !important;
	background: linear-gradient(90deg, #FFAE02 0%, #FF9E0C 100%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	border-color: transparent;
}
.btn-primary img{
	padding-left: 8px;
}


#komponen{
	width: 100%;
	height: auto;
	padding: 64px 0px;
	background: #F4F7FC;
}
.point{
	margin-bottom: 10px;
}
.komponen-fiture{
	margin-top: 33px;
}
.komponen-fiture h4{
	width: 274px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 18px;
	margin-bottom: 16px;
	color: #273C57;
}
.komponen-fiture p{
	width: 360px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: 25px;
	font-size: 14px;

	color: #8E8E90;
}
.title{
	width: 100%;
	height: auto;
	margin-bottom: 33px;
}
.title h2{
	margin-bottom: 0;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 22px;
	letter-spacing: 0.26em;
	color: #6FCF97;
}
.title p{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 18px;
	margin-top: 4px;
	color: #A3A3B4;
}


#img-nahp{
	width: 100%;
	height: auto;
	padding: 40px 0px;
	background: #fff;
}

#berita-pustaka{
	width: 100%;
	height: auto;
	background: #F4F7FC;
	padding: 63px 0px 0px;
}

.section-berita{
	padding-bottom: 64px;
} 
.title-line {
	border-bottom: 3px solid rgba(0, 0, 0, 0.05);
}
.title-line a{
	color: #273C57;
}
.title-line a img{
	color: #273C57;
	margin-left: 10px;
}
.line-yellow{
	width: 50.01px;
	height: 3px;
	position: relative;
	background: #FFAE02;
	position: relative;
	bottom: 3px;
}
.line-red{
	width: 50.01px;
	height: 3px;
	position: relative;
	background: #BE2121;
	position: relative;
	bottom: 3px;
}

.title-line h2{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 30px;
	margin: 0;
	color: #273C57;
}
.title-line p{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: 25px;
	font-size: 14px;

	color: #8E8E90;
}

.more{
	padding: 30px 0px;
}

.card-berita{
	height: 373px;
	background: #fff;
	border-radius: 10px;
	margin-top: 30px;
	box-shadow: 0px 4px 10px rgba(167, 167, 167, 0.25);
	overflow: hidden;
}
.card-berita .img-berita{
	width: 100%;
	height: 208px;
}
.card-berita .img-berita img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-berita .desc{
	padding: 16px 24px;
}
.card-berita .desc h4{
	margin: 0;
	margin-bottom: 16px;
}
.card-berita .desc h4 a{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 18px;

	color: #273C57;
}
.card-berita .desc span{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 14px;

	color: #8E8E90;
}
.card-berita .desc span img{
	margin-right: 10px;
}
.card-berita .desc a{
	width: 100%;
	margin-top: 20px;
}
.card-berita .desc p{
	margin-top: 20px;
}
.card-berita .desc p img{
	margin-right: 10px;
}

.card-pustaka{
	margin-top: 30px;
	width: 100%;
	height: 177px;
	background: url(../images/bg-card.png) #fff;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0px 4px 10px rgba(167, 167, 167, 0.4);
	border-radius: 10px;
	padding: 24px 42px;
}
.card-pustaka h4{
	margin: 0;
	height: 64px;
	margin-bottom: 24px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 18px;

	color: #273C57;
}
.card-pustaka a{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 18px;
	color: #FFAE02;
}
.card-pustaka a img{
	margin-right: 10px;
}

#sponsor{
	height: 105;
	background: #fff;
}
.img-sponsor{
	width: 20%;
	margin-right: 30px;
	text-align: center;
}

#footer{
	width: 100%;
	height: 100px;
	line-height: 100px;
	background: #35404D;
	text-align: center;
	color: #fff;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	clear: both;
	margin-bottom: 0;
}
#footer p{
	margin-bottom: 0;
}


#cover-header{
	width: 100%;
	height: 568px;
	background: url(../images/bg.png) #fff;
}

#breadcrum{
	width: 100%;
	height: 229px;
	padding-top: 119px;
	background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
}
#breadcrum h1{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 34px;

	color: #4C64A4;
}
#breadcrum h3{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 22px;
	letter-spacing: 0.26em;

	/* Green 3 */
	color: #6FCF97;
}


#blog{
	width: 100%;
	height: auto;
	padding: 44px 0px 105px;
	background: #fff;
}
.search-input{
	width: 100%;
	height: 42px;
	color: #273C57;
	border: 0;
	background: #E4E7EA;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.input-group{
	width: 100%;
}
.input-group-addon{
	width: 40px;
	background: #E4E7EA;
	border:0;
}

.img-blog-big{
	height: 411px;
	width: 100%;
}
.img-blog-big img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.article{
	width: 100%;
	height: auto;
	padding-top: 24px;
}


.share{
	width: 30%;
	text-align: right;
	height: 60px;
	float: left;
}
.text-share{
	float: left;
	text-align: right;
	padding-top: 5px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: 25px;
	font-size: 14px;

	color: #8E8E90;
}
.date-blog{
	width: 70%;
	height: 60px;
	padding-top: 10px;
	float: left;
	font-size: 14px;
	color: #8E8E90;
}
.date-blog img{
	width: 24px;
	height: 24px;
	margin-right: 10px;
}
.article h1{
	width: 100%;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 30px;
	margin-bottom: 10px;
	color: #273C57;
}
.article p{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: 25px;
	font-size: 14px;

	/* Text */
	color: #273C57;
}

.tag-multiple{
	width: 100%;
	margin-top: 40px;
	font-family: Roboto;
	font-style: italic;
	font-weight: normal;
	line-height: 25px;
	font-size: 14px;

	/* Text-secondary */
	color: #8E8E90;
}
.tag-multiple img{
	margin-right: 20px;
}

.shadow-0{
	box-shadow: none;
}
.padding-0{
	padding: 0 !important;
	padding-top: 20px !important;
}

.slick-prev,
.slick-next{
	display: none !important;
}






/*---------------*/
/***** GALERI *****/
/*---------------*/
#galeri{
	width: 100%;
	height: auto;
	padding: 60px 0px 105px;
	background: #fff;
}
.title-page{
	margin-bottom: 40px;
}
.title-page h2{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 30px;

	color: #273C57;
}
.title-page span{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 14px;

	color: #8E8E90;
}
.title-page span img{
	margin-right: 10px;
}


.galeri{
	height: 331px;
	margin-bottom: 60px;
}
.galeri span{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 14px;

	color: #8E8E90;
}
.galeri span img{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 14px;
	margin-right: 10px;
	color: #8E8E90;
}
.galeri h4{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 18px;

	/* Text */
	color: #273C57;
	margin-top: 10px;
}
.galeri h4 a{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 18px;

	/* Text */
	color: #273C57;
	margin-top: 10px;
}
.galeri .img-galeri{
	height: 236;
	width: 100%;
	margin-bottom: 10px;
}
.galeri .img-galeri img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.img-effect {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 100%;
	list-style: none;
	text-align: center;
}

/* Common style */
.img-effect figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 100%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.img-effect figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.img-effect figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.img-effect figure figcaption::before,
.img-effect figure figcaption::after {
	pointer-events: none;
}

.img-effect figure figcaption,
.img-effect figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.img-effect figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.img-effect figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.img-effect figure h2 span {
	font-weight: 800;
}

.img-effect figure h2,
.img-effect figure p {
	margin: 0;
}

.img-effect figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}


figure.effect-milo {
	background: #2e5d5a;
}

figure.effect-milo img {
	max-width: none;
	width: -webkit-calc(100% + 60px);
	width: calc(100% + 60px);
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-30px,0,0) scale(1.12);
	transform: translate3d(-30px,0,0) scale(1.12);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-milo:hover img {
	opacity: 0.5;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}

figure.effect-milo h4 {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 1em 1.2em;
	color: #fff;
}

figure.effect-milo p {
	padding: 0 10px 0 0;
	width: 50%;
	border-right: 1px solid #fff;
	text-align: right;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0,0);
	transform: translate3d(-40px,0,0);
}

figure.effect-milo:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}



#peta-section{
	width: 100%;
	height: 742px;
	background: #fff;
	overflow: hidden;
	display: flex;
}
.leftbar .input-group{
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
}
.leftbar .input-group-addon{
	width: 40px;
	background: #f8f8f8;
	border:0;
}
.leftbar .search-input{
	background: #f8f8f8;
	color: #273C57;
}


.mobile{
	display: none;
}
.peta{
	width:78%;
	background: #f8f8f8;
	height: 100%;
}
.peta img{
	width: 100%;
	height: 100%;
}
.peta #peta{
	width: 100%;
	height: 100%;
}

.leftbar{
	width: 22%;
	height: auto;
	background: #FFFFFF;
	box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.1);
	padding: 40px 30px;
}

.list-peta{
	margin-top: 30px;
	padding-left: 0px;
}
.list-peta ul li{
	display: block;
	border-bottom: 1px solid #EDEDED;
	padding: 10px 0px;
	margin-left: 10px;
}
.list-peta ul a li{ 
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: 25px;
	font-size: 14px;
	text-align: justify;

	/* Text */
	color: #273C57;
}
.list-peta ul a li span{ 
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: 25px;
	font-size: 14px;
	text-align: justify;

	/* Text */
	color: #8E8E90;
}
.list-peta ul a li:hover{
	opacity: 0.7;
	transition: .4s;
}


.list-agenda{
	margin-top: 107px;
}
.list-agenda h4{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 14px;
	margin-bottom: 20px;
	color: #273C57;
}
.list-agenda ul li{
	display: block;
	padding: 10px;
}
.list-agenda ul li a{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 14px;
	text-align: justify;

	/* Text */
	color: #273C57;
}
.list-agenda ul li a img{
	margin-right: 20px;
}


#kemajuan{
	width: 100%;
	height: auto;
	background: #fff;
	padding: 60px 0px;
}

.panel{
	border: 0;
	padding-top: 50px;

}
.panel-heading {
	padding: 0;
	border:0;
}
.panel-default>.panel-heading{
	border:0 !important;
}
.panel-title{
	width: max-content;
	border:0;
}
.panel-title span{
	margin-right: 20px;
}
.panel-title img{
	position: relative;
	top: -5px;
	margin-right: 16px;
}
.panel-title>a, .panel-title>a:active{
	display:block;
	padding:15px;
	color:#555;
	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
	word-spacing:3px;
	text-decoration:none;
}
.panel-heading  a:before {
	content: url(../images/icon/arrow-bottom.svg);
	float: right;
	transition: all 0.5s;
}
.panel-heading.active a:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
} 

.panel-default>.panel-heading+.panel-collapse .panel-body{
	border:0;
}
.panel-body{
	margin-top: 24px;
	padding: 30px 40px;
	width: 100%;
	border: 0;
	border-radius: 7px;
	background: #F8F8F8;
}


